{% extends "layout.html" %}
{% block title %}Edit{% endblock %}

{% block head %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/editstyle.css') }}">
{% endblock %}

{% block content %}
<body id="edit-container">
    <div id="edit-header">
        <h1> Edit the selected submission </h1> 
    </div> 
    <form class="announce-form" method="POST">
      <input type="date" class="date" size="20" name="announce-date" required>
      <input type="text" class="announcement" placeholder="Announcement" size="20" name="announcement" required>
      <button type="submit" class="submit-button" name="submit_btn" value="a_submit"><i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </form>
</body>
{% endblock %}