{% extends "layout.html" %}
{% block title %}Schedule Planner{% endblock %}

{% block head %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/firstRun.js') }}" defer></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style-mobile.css') }}">
{% endblock %}

{% block content %}
<body id="container">
  <div id="title"> 
    <h1>Schedule Planner</h1>
  </div>
  <div> 
    <a
            href="{{ url_for('auth.logout') }}"
            role="button"
            class="logout fade">Logout</a
          >
  </div>
  
  <div>
    <a
            href="{{ url_for('arch.archive') }}"
            role="button"
            class="archive fade">Archive</a
          >
  </div>

  <div>
    <a
            href="{{ url_for('grade.showGrades') }}"
            role="button"
            class="grade fade">Grades</a
          >
  </div>

  <div>
    <a
            href="{{ url_for('notifs.notifications') }}"
            role="button"
            class="notifications fade">Notifications</a
          >
  </div>

  <div id="planner" class='fade border'>

    <div class=underline>
      <h1> Planner </h1>
    </div>  

    <div id="planner-form" class='fade'>
      <form class="form" onsubmit="window.location.reload()" action="" method="POST">
          <input type="date" class="due-date" size="20" name="due_date" required>
          <input type="text" class="class_name" name="class_name" placeholder="Class" size="20" required>
          <input type="text" class="plan-inp" name="assignment" placeholder="Assignment Name" size="20" required>
          <select class="priority" name="class_type">
            <option value="none" selected disabled hidden> Select Type </option>
            <option value="Homework">Homework</option>
            <option value="Exam">Exam</option>
            <option value="Project">Project</option>
          </select>
          <div class="form-control"><input id="box" type="checkbox" name="pubpriv"></div> 
          <button type="submit" id="submit-button" class="submit-button" onclick="window.location.reload()" name="submit_btn" value="p_submit"><i class="fa fa-plus" aria-hidden="true"></i></button>

      </form>
    </div>

    <div class="wrappe">
      <ul class="items ">
      </ul>
    </div>

    <!-- <script type="text/javascript" src="js/planner.js" defer></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/planner.js') }}" defer></script>
    

  </div>
  
  <div id="announcements" class='fade border'>
    <div class=underline>
      <h1> Announcements </h1>
    </div>

    <div id="announcement-form" class='fade'>
      <form class="announce-form" method="POST">
        <input type="date" class="date" size="20" name="announce-date" required>
        <input type="text" class="announcement" placeholder="Announcement" size="20" name="announcement" required>
        <button type="submit" class="submit-button" name="submit_btn" value="a_submit"><i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </form>
    </div>

    <div>
      <ul class="announce-items">
      </ul>
    </div>
    
    <!-- <script type="text/javascript" src="templates/js/announcements.js" defer></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/announcements.js') }}" defer></script>
  </div>
  
  <div id="calendar" class='fade'>
    <!-- <script type="text/javascript" src="templates/js/calendar.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/calendar.js') }}" defer></script>
  </div>
 

</body>
<footer> 
<a href="#top">
  <button class="top-button"><i class="fas fa-angle-up"></i></button>
</a>
</footer>

  <button class="left fade"><i class="fa fa-caret-left" aria-hidden="true"></i> Back </button> 
  <button class="right fade">Next<i class="fa fa-caret-right" aria-hidden="true"></i> </button> 

  <div id="button-div2" class="button-div2 fade">
    <button class="sort-button2"><span class="sort-button-span2">Sort by Date<i class="fa fa-sort-amount-asc" aria-hidden="true"></i></span></button>
    <button class="clear-all2"><span class="clear-button-span2">Clear All<i class="fa fa-bomb" aria-hidden="true"></i></span></button>
  </div>
  <div id="button-div" class="button-div fade">
    <button class="sort-button"><span class="sort-button-span">Sort by Date<i class="fa fa-sort-amount-asc" aria-hidden="true"></i></span> </button>
    <button class="clear-all" onclick="window.location.reload()"><span class="clear-button-span">Clear All<i class="fa fa-bomb" aria-hidden="true"></i></span> </button>
  </div>

{% endblock %}

